*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: url(ranita.jpeg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background: #6ca254;
    position: fixed;
    width: 100%;
    z-index: 100%;
}


.navbar {
    display: flex;
    margin-right: 7%;
    background: none;

}

.logo {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    background: none;
}

.logo a {
    display: flex; /* Agrega un contenedor flex para el enlace y la imagen */
    align-items: center; /* Alinea los elementos verticalmente */
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background: none;
}

.logo img {
    width: 60px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    background: none;
}

.navbar a{
    display: block;
    padding: 20px 15px;
    color: #181818;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;;
    background: none;
}

.navbar a:hover {
    background: #6ca254;
    color:#fff; /* Cambia el color del texto al verde más claro */
}

.navbar a.inicio {
    background: #6ca254; /* Cambio del color de fondo al verde más claro */
    color: #fff; /* Cambio del color del texto a blanco */
}

.navbar #CB+ a{
    margin-left: 20px;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand-text {
    margin-left: 60%;
    margin-right: 10px; /* Ajusta el espaciado entre el texto y el icono según sea necesario */
    font-weight: bold; /* Opcional: para hacer el texto más destacado */
    font-size: 25px; /* Ajusta el tamaño del texto según sea necesario */
    color: #fff; /* Color del texto */
    background: none; /* Elimina el fondo */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
}
.container h1 {
    font-size: 28px;
    background: none;
}

.search-container {
    margin-top: 20px;
    background: none;

}
.search-box {
    padding: 10px 20px;
    background: rgb(41, 41, 41);
    border-radius: 8px 0 0 8px;
    color: #000; /* Cambio del color del texto a negro */
    width: 350px; /* Ancho de la barra de búsqueda aumentado */
    max-width: 80%; /* Establecer un ancho máximo */
}

.search-button {
    padding: 10px 20px;
    border: none;
    background: #fff; /* Cambio del color de fondo a blanco */
    color: #000; /* Cambio del color del texto a negro */
    border-radius: 0 8px 8px 0;
}

.search-button:hover{
    background: #6ca254;
    color: white;
}

h1 {
    color: #fff; 
    font-size: 20px; 

}
.container_mood{

}
.container_mood img{
    width: 60px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    background: none;
    
    
}
.container_mood a{
    background: none;
    
}
