*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: url(fondo.gif);
    background-size: cover;
    z-index: -1; 
    pointer-events: none;

}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background: #6ca254;
    position: fixed;
    width: 100%;
    z-index: 100%;
}


.navbar {
    display: flex;
    margin-right: 7%;
    background: none;

}

.logo{
    margin-left: 7%;
    background: none;

}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background: none;

}
.logo img {
    width: 60px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    background: none;
}


.navbar a{
    display: block;
    padding: 20px 15px;
    color: #181818;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;;
    background: none;
}

.navbar a:hover{
    background: #3f3f3f;
}
.navbar #CB+ a{
    margin-left: 20px;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
}
.container h1 {
    font-size: 36px;
    background: none;
}

.search-container {
    margin-top: 20px;
    background: none;

}
.search-box {
    font-size: 20px; 
    width: 500px; 
    height: 30px;
    padding: 10px;
    border: 2px solid #0b0a0a; 
    background: #6ca254;
}

.search-button {
    font-size: 20px; 
    padding: 10px 20px; 
    border: 2px solid #171717;
    margin-left: auto;
    background: white;
}




