<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/SignIn.css">
    <title>Sign In</title>
</head>
<body>
      <div class="logo">
        <a href="#"><img src="../public/img/andresita_la_ranita.png"></a>
      </div>
      <div class="container_LogIn" id="loginContainer">
          <div class="back-container">
            <a href="index.html"><img src="../public/img/hacia-atras.png"></a>
          </div>  
        <h2>Log In</h2>
        <form id="loginForm">
          <div class="form-group">
            <label for="nombre">Name :</label>
            <input type="text" id="nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="surname">Surname :</label>
            <input type="text" id="surname" name="surname" required>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>
          </div>
          <button type="submit">Confirm </button>
        </form>
        <p id="message"></p>
      </div>    
</body>
</html>