* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
	list-style: none !important;
	outline: none !important;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	color: #888888;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
}
a:hover {
	color: #ccbf0a !important;
}
img {
	max-width: 100%;
	height: auto;
	width: 150px;
	vertical-align: middle;
}
span, a {
	display: inline-block;
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	color: #151515;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	margin: 0;
}
p {
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
h4 {
	font-weight: 400;
}
h6 {
	font-weight: bold;
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #ccbf0a !important;
}
.navbar .navbar-nav .nav-item {
    margin-right: 20px; /* Ajusta el margen derecho entre elementos */
}
.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #000000;
	font-weight: 350;
	font-size: 19px;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.banner {
	background:url(images/bg1.jpg) no-repeat 0% 0% / 100% 100%;
	color:#ffffff;
	text-align: center;
	width: 100%;
}
.banner-overlay {
	background:linear-gradient(to bottom, #2d6415 0%, #7fc064 100%);
	padding:220px 0px 170px;
}
.banner h1 {
	color:#ffffff;
}
.banner p {
	margin:15px auto 15px;
	max-width: 670px
}
.banner-btn {
	background: #ab2f52;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
}
.banner-btn:hover {
	background: #ffffff;
	color:#ab2f52;
}
.section-padding {
	padding: 100px 0px;
}
.section-title {
	padding-bottom: 80px;
}
.section-title h3 {
	color: #2b4d1d;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 25px;
}
.section-title p {
	width: 60%;
	margin: 15px auto 20px;
}
.section-title-line {
	background: #ececec;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: #8be640;
	bottom: -1px;
	content: "";
	height: 2px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-bottom: 100px !important;
}
.pd-lt-10 {
	padding-left:10px;
}
.no-padding {
	padding: 0px !important;
}
.sub-title-paragraph {
}
.sub-title-paragraph h4 {
	margin-bottom: 5px;
}
.sub-title-paragraph h5 {
	color:#ffaf53;
}
.sub-title-paragraph p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}
.anchor-btn {
	background: #ffaf53;
	padding: 10px 20px;
	color: #ffffff !important;
	border-radius: 3px;
	margin-top: 30px;
}
.bg-grey {
	background-color: #fafafa;
}
.bg-white {
	background: #ffffff;
}
.service-box {
	padding: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
.service-box .icon {
}
.service-box .icon i {
	font-size: 40px;
	color: #ffaf53;
}
.icon-text {
}
.icon-text h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0px;
	position: relative;
	padding-bottom: 14px;
}
.icon-text h4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 2px;
	background-color: #bcbcbc;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	left: calc(50% - 30px);
}
.icon-text p {
	line-height: 25px;
	font-weight: 300;
}
.portfolio .filtering {
	border-radius: 28px;
	margin: 0 auto;
	border: 1px dotted #e1e1e1;
}
.portfolio .filtering button {
	position: relative;
	top: -1px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 30px;
	letter-spacing: 2px;
	color: #777;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: none;
	border: 0;
}
.portfolio .filtering .active {
	background-color: #ab2f52;
	color: #fff;
	border-radius: 28px;
	-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
}
.portfolio .gallery {
	padding: 0;
	overflow: hidden;
	overflow: hidden !important;
	position: relative;
}
.portfolio .gallery .item-img {
	position: relative;
	overflow: hidden;
}
.portfolio .gallery .item-img a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.portfolio .gallery .item-img .part-img {
	position: relative;
}
.portfolio .gallery .item-img .part-img img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio .gallery .item-img .part-img .overlay-img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.portfolio .gallery .item-img .part-img .overlay-img:after {
	content: '';
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 150ms ease-in-out 200ms;
	transition: all 150ms ease-in-out 200ms;
}
.portfolio .gallery .item-img .part-img .overlay-img:before {
	content: '';
	position: absolute;
	right: -100%;
	bottom: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 150ms ease-in-out 200ms;
	transition: all 150ms ease-in-out 200ms;
}
.portfolio .gallery .item-img .part-img .overlay-img a {
	width: 100%;
	height: 100%;
}
.portfolio .gallery .item-img .part-img .overlay-img h4 {
	color: transparent;
	overflow: hidden;
	position: absolute;
	top: 54px;
	right: 25px;
	z-index: 2;
	font-size: 18px;
	-webkit-transition: color 150ms ease-in-out 200ms;
	transition: color 150ms ease-in-out 200ms;
	text-align: center;
	padding: 0 10px;
}
.portfolio .gallery .item-img .part-img .overlay-img h4:before {
	content: '';
	background: #fff;
	bottom: 0;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100%;
	-webkit-transition: right 600ms ease-in-out 0s;
	transition: right 600ms ease-in-out 0s;
}
.portfolio .gallery .item-img .part-img .overlay-img h6 {
	color: transparent;
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 25px;
	z-index: 2;
	font-size: 18px;
	-webkit-transition: color 150ms ease-in-out 200ms;
	transition: color 150ms ease-in-out 200ms;
	text-align: center;
	padding: 0 10px;
}
.portfolio .gallery .item-img .part-img .overlay-img h6::before {
	content: '';
	background: #fff;
	bottom: 0;
	right: auto;
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	-webkit-transition: left 600ms ease-in-out 0s;
	transition: left 600ms ease-in-out 0s;
}
.portfolio .gallery .item-img:hover img {
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
}
.portfolio .gallery .item-img:hover .overlay-img:after {
	left: 0;
	-webkit-transition: all .8s;
	transition: all .8s;
	opacity: 1;
}
.portfolio .gallery .item-img:hover .overlay-img:before {
	right: 0;
	width: 100%;
	height: 50%;
	-webkit-transition: all .8s;
	transition: all .8s;
	opacity: 1;
}
.portfolio .gallery .item-img:hover .overlay-img h4 {
	color: white;
}
.portfolio .gallery .item-img:hover .overlay-img h4:before {
	right: -100%;
}
.portfolio .gallery .item-img:hover .overlay-img h6 {
	color: white;
}
.portfolio .gallery .item-img:hover .overlay-img h6:before {
	left: -100%;
}
.portfolio-style2 .filtering {
	border: 1px solid #e1e1e1;
}
.portfolio-style2 .filtering .active {
	background-color: #1c1c1c;
}
.testimonials {
	background:url(images/bg1.jpg) no-repeat 0% 0% / 100% 100%;
	width:100%;
}
.testimonials-overlay {
	background: rgba(0,0,0,0.9);
}
.testimonials .testimonial-item p {
	max-width: 700px;
	color: #ffffff;
	margin-bottom: 30px !important;
}
.testimonials .icon i {
	color: #ab2f52;
	font-size: 47px;
	margin-bottom: 25px;
}
.testimonials h5 {
	color:#ffaf53;
}
.testimonials h6 {
	color: #ffffff;
	margin-bottom: 10px !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #ab2f52 !important;
}
.info-box {
	position:relative;
	padding-bottom:30px;
}
.info-box .icon {
	display:inline-block;
	width: 30px;
}
.info-box .icon i {
	font-size: 20px;
	color: #ab2f52;
}
.info-box .content {
	display:inline-block;
	margin-left:10px;
}
.info-box .content h4 {
	font-size: 20px;
}
.contact-form input, .contact-form textarea {
	border: none;
	border-bottom: 1px solid #1c1c1c;
	border-radius: 0;
	padding: 10px 10px 10px 0;
	margin-bottom: 20px;
	font-size: 14px;
	width:100%;
}
.bttn {
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #6ca254;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	border: none;
}
.bttn:hover{
	background-color: #50773f;
}

.footer-copy {
	background: #242424;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	padding:7px 0px;
}
@media all and (max-width:991px) {
.navbar .navbar-collapse {
	overflow: auto;
	background: rgba(255, 255, 255, 0.85);
	color: #ffffff !important;
	text-align: center;
	padding: 10px 0;
}
.nav-link{
	color: white;
}
.nav-scroll .navbar-collapse {
	background: #fff !important;
}
}
@media all and (max-width:768px) {
.nav-scroll .navbar-brand img, .navbar-brand img{
	transform: scale(0.75) !important;
	-webkit-transform: scale(0.75) !important;
}
.banner h1 {
	font-size: 30px;
}
.section-title p {
	width: 100%;
}
.section-title h3 {
	margin-bottom: 12px;
	font-size: 25px;
}
.section-padding {
	padding: 60px 0px;
}
.section-title {
	padding-bottom: 40px;
}
.portfolio .filtering {
	border:none;
}
.portfolio .filtering .active {
	border-radius: 0px;
}
.portfolio .filtering button {
	font-size: 10px;
	padding: 10px 15px;
}
.banner-overlay {
	padding: 150px 0px 100px;
}
}

.buscar{
   position: absolute;
   padding: 5px;
}
.buscar input{
   width: 0px;
   height: 40px;
   padding: 0 20px;
   font-size: 18px;
   color: black;
   outline: none;
   border: 1px solid silver;
   border-radius: 30px;
   transition: all 0.6s ease;
}
.btn{
   width: 55px;
   height: 55px;
   line-height: 55px;
   position: absolute;
   top: 0px;
   right: 0px;
   background-color: #440080;
   line-height: 55px;
   text-align: center;
   color: whitesmoke;
   font-size: 20px;
   border-radius: 50%;
   cursor: pointer;
}
.buscar:hover input{
	width: 240px;
}
.buscar input:focus{
	width: 240px;
}

.container_s {
	padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background: none;
}
.container_s h1 {
    color: white;
    font-size: 28px;
    background: none;
}

.head .search-button {
    flex-shrink: 0; 
}
.search-box {
    padding: 10px 20px;
    background: rgb(41, 41, 41);
    border-radius: 8px 0 0 8px;
    border: #fff;
    color: #fff; 
    width: 450px;
    min-width: 300px;

}
.head-search{
    margin-left: 5%;
    width: 40%
}

.search-button {
    padding: 10px 20px;
    border: none;
    background: #fff; 
    color: #000; 
    border-radius: 0 8px 8px 0;
    width: 15%;
    min-width: 100px;
	position: relative;
	width: 150px;
}

.search-button:hover{
    background: #e4e2db;
    color: rgb(0, 0, 0);
}

.navbar .navbar-brand img {
    max-width: 70px; /* Ajusta el ancho máximo según tu preferencia */
    height: auto; /* Esto mantiene la proporción de aspecto */
}
.brand-text {
    font-size: 20px; /* Tamaño de fuente del nombre de la página */
    font-weight: bold; /* Peso de fuente */
    color: black; /* Color del texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
	margin-top: 10px;
}
.navbar .navbar-nav {
    margin-left: 20px; /* Agrega margen izquierdo para mover los elementos a la derecha */
}

.row{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh; 
}

.checkbox-group{
	justify-content: center;
}

.parent {
	padding-top:  50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	}
	
.div1 { grid-area: 1 / 1 / 2 / 2; }

.youtube-player{
	margin-top: 15px;
}

.h2class{
	padding-top: 70px;
	text-align: center;
	color: rgb(0, 0, 0);
}

.b{
	color: #6ca254;
	font-size: 25px;
}

.bodyBeat{
	background-color: #ffffff;
}

#navID{
	background-color:#6ca254;
}

#container2{
	padding-top: 120px;
}

.bttnInt {
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #6ca254;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 8px;
	border: none;
	margin-left: -730px;
}

.index ul{
	list-style-type: none;
	text-align: center;
}
.index li{
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
}
.index li a {
	padding: 2px 7px 2px 7px;
	color: #666;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	text-decoration: none;
}
.index li a:hover{
	background-color: #333333;
	color: #ffffff;
}

#cb{
	margin-top: -18px;
	margin-left: -15px;
	margin-bottom: 20px;
}

.tit{
	font-size: 30px;
	margin-bottom: 7px;
}

.selector {
	width: 200px; /* Ancho del select */
	padding: 10px; /* Espacio interno */
	font-size: 16px; /* Tamaño de fuente */
	border: 1px solid #ccc; /* Borde */
	border-radius: 5px; /* Radio de borde */
	appearance: none; /* Elimina el estilo predeterminado del navegador */
	background-color: #fff; /* Color de fondo */
  }
  
  /* Estilos para las opciones del select */
  option {
	padding: 10px; /* Espacio interno */
	font-size: 16px; /* Tamaño de fuente */
	background-color: #fff; /* Color de fondo */
	color: #333; /* Color del texto */
  }
  
  /* Estilos para las opciones del select cuando se resalta */
  option:hover {
	background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
  }

  .checkbox-group {
	flex-wrap: wrap; /* Para que los checkboxes se envuelvan cuando no haya suficiente espacio */
  }
  
  .checkbox-group label {
	margin-right: 10px; /* Espacio entre cada checkbox */
  }
  
  .checkbox-group input[type="checkbox"] {
	/* Estilos para los checkboxes */
	margin-right: 5px; /* Espacio a la derecha de cada checkbox */
	cursor: pointer; /* Cambia el cursor al pasar sobre los checkboxes */
  }
  
  .checkbox-group label:hover {
	/* Cambia el color de fondo cuando se pasa el mouse sobre las etiquetas */
	background-color: #f0f0f0;
  }

#nvv{
	background-color: #6ca254;
}

h3{
	padding-top: 30px;
}

#boton{
	margin-top: -20px;
	margin-bottom: 60px;
}

.container_sign{
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 15px;
}

.bttn2{
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #6ca254;
	padding: 17px 45px;
	font-size: 25px;
	border-radius: 30px;
	margin-top: 30px;
	border: none;
	width: 250px;
	height: 75px;
	text-align: center;
	margin-left: 60px;
}

.bttn2:hover{
	color: white;
	background-color: #4d753c;
}

.sign{
	padding-top: 350px;
	text-align: center;
}

#bodyerror{
	background-image: url('/img/triste-removebg-preview.png'); /* Establece la imagen de fondo */
	background-position: center; /* Centra la imagen de fondo */
	background-repeat: repeat; /* Hace que la imagen de fondo se repita */
	background-color: rgba(255, 255, 255, 0.4); /* Ajusta la opacidad del color de fondo */
	background-blend-mode:lighten; /* Mezcla el color de fondo con la imagen de fondo */
}


.container-error {
	margin: auto;
	margin-top: 300px;
	padding: 20px;
	text-align: center;
	background-color: white; /* Color de fondo blanco */
	border-radius: 15px; /* Bordes redondeados */
	width: 450px; /* Ancho del cuadrado */
	height: 250px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); /* Sombra alrededor del cuadrado */
  }
  
  .container-error h1 {
	font-size: 40px; /* Ajusta el tamaño del título según sea necesario */
	margin-bottom: 10px; /* Ajusta el espacio inferior según sea necesario */
  }
  .container-error h2 {
	font-size: 35px; /* Ajusta el tamaño del subtítulo según sea necesario */

  }
  .container-error .bttn {
	font-size: 20px; /* Ajusta el tamaño del botón según sea necesario */
	border-radius: 30px; /* Ajusta el radio de borde del botón según sea necesario */
	padding: 15px 45px; /* Ajusta el relleno del botón según sea necesario */
  }

  .userinf{
	padding-top: 150px;
  }

.nombre{
	color:#6ca254;
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	margin-left: 3px;
}

#owner{
	margin-top: 20px;
}

.borrar{
	margin-top: -300px;
}

.bttnB{
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #6ca254;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	border: none;
	margin-top: -15px;
}

#trans{
	margin-top: 20px;
}

#props{
	font-size: 30px;
}

#cambiar{
	margin-top: 15px;
}

.cambio {
    width: 270px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cambio:focus {
    outline: 0;
    border-color: #6ca254;
    box-shadow: 0 0 0 0.2rem rgba(108, 162, 84, 0.25);
}

#nw{
	margin-top: 10px;
}

.bot {
    text-decoration: underline !important;
	color: black !important;;
}

.lic{
	margin-bottom: 10px;
}

#lic{
	color: #2d6415;
	text-decoration: underline !important;
	color: #2d6415 !important; /* o color: #007bff !important; */
	text-transform: uppercase;
}

.beatsSearch{
	padding-top: 100px;
	padding-bottom: 30px;
}

#cancion{
	margin-top: 30px;
	font-size: 22px;
	color:#9dd15a;
}

.priceNumber{
	margin-bottom: 30px;
	border-radius: 3px;
}

.bttnB2{
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #6ca254;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	border: none;
	margin-top: -15px;
	margin-bottom: 20px;
}

.bttnB2:hover{
	background-color: #356322;
}

#editLic{
	margin-top: 15px;
}
.parr{
	margin-right: -50px;
}

#numlic{
	color: #6ca254;
	margin-bottom: 10px;
	margin-top: -20px;
}

.content {
    display: flex;
	margin-top: 20px;
	align-items: center;
}

.izquierda {
    margin-right: 20px; /* Ajusta este valor según tus necesidades */
}

.names{
	margin-top: -10px;
	font-size: 20px;
	color: #6ca254;
}

.licencia{
	margin-top: 10px;
}