<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Beat</title>
</head>
<body>
    {{#beat}}
    <h1>{{name}}</h1>
    <p>Género: {{genre}}</p>
    <p>Precio: {{price}}</p>
    <p>Descripción: {{description}}</p>
    <div class="youtube-player">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{/beat}}

    <h2>Usuarios que han comprado este beat:</h2>
    <ul>
    {{#users}}
        <li>
            <p>Nombre: {{name}}</p>
            <p>Email: {{email}}</p>
        </li>
    {{/users}}
    </ul>
    {{#user}}
    <form action="/beats/{{beat.id}}/comprar">
        <input type="submit" value="Comprar Beat" />
    </form>
    {{/user}}
    {{#isCurrentUser}}
    <form action="/beat/{{beat.id}}/del" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Eliminar Beat" />
    </form>
    <form action="/beats/{{beat.id}}/editar" method="post">
        <label for="price">Cambiar Precio:</label><br>
        <input type="number" id="price" name="price" value="{{beat.price}}"><br>
        <input type="submit" value="Cambiar Precio">
    </form>
    {{/isCurrentUser}}
</body>
</html>