<!DOCTYPE html>
<html>
<head>
    <title>Cambiar Nombre de Usuario</title>
</head>
<body>
    <h1>Cambiar Nombre de Usuario</h1>
    {{#error}}
    <div>{{error}}</div>
    {{/error}}
    <form action="/usuarios/{{user.id}}/editname" method="post">
        <label for="newname">Nuevo nombre:</label><br>
        <input type="text" id="newname" name="newname" value="{{user.name}}"><br>
        <input type="submit" value="Cambiar Nombre">
    </form>
    
    <a href="/usuarios/{{user.id}}">Volver al Perfil</a>
</body>
</html>