<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/usuarios.css">
        <script src="/js/search_bar.js"></script>
        <script src="/js/nav_bar.js"></script>
        <script src="/js/toggle.js"></script>
        <title>Transferir Propiedad</title>
    </head>
<body>
    <div class="head">   
        <div class="logo">
            <span class="brand-text">FroggyBeats</span>
            <a href="/"><img src="/img/andresita_la_ranita.png"></a>
        </div>
        <button class="menu-toggle"><img src="/img/menu.png" ></button> 
        <nav class="navbar">
            <a href="/" id="inicio-link" class="nav-link">Inicio</a>
            <a href="/vender" id="VB-link" class="nav-link">Vender Beats</a>
            <a href="/beats" id="CB-link" class="nav-link">Comprar Beats</a>
            {{#user}}
                <a href="/usuarios/{{id}}" class="nav-link">{{name}}</a>
            {{/user}}
            {{^user}}
                <a href="/iniciasesion" id="sign-in-link" class="nav-link">Sign in</a>
                <a href="/registrate" id="signup-in-link" class="nav-link">Sign Up</a>
            {{/user}}
        </nav>      
    </div>
    <h1>¿Qué quieres hacer con tus propiedades propiedad?</h1>
    <div class="form-container">
        <form action="/usuarios/{{id}}/transfer" method="post" class="formularioV">
            <label id="owner" for="newOwnerId">Transferir tus propiedades a:</label><br>
            <select name="newOwnerId" id="newOwnerId">
                {{#usersList}}
                <option value="{{id}}">{{name}}</option>
                {{/usersList}}
            </select>
            <br>
            <input class="transferir" type="submit" value="Transferir Propiedad">
        </form>   
    </div>
    <div class="form-container"></div> 
        <form action="/usuarios/{{id}}/borrar" method="post" class="formularioV">
            <label id="owner" for="newOwnerId">Eliminar todas las propiedades</label><br>
            <br>
            <input id="borrar" type="submit" value="Borrar Propiedades">
        </form>    
    </div>
</body>
</html>
