<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/nav_bar.js"></script>
    <script src="../public/js/toggle.js"></script>
    <title>FroggyBeats | Compra y vende beats </title>
</head>
<body>
    <div class="head">   
        <div class="logo">
            <span class="brand-text">FroggyBeats</span>
            <a href="#"><img src="../public/img/andresita_la_ranita.png"></a>
        </div>
        <button class="menu-toggle"><img src="../public/img/menu.png" ></button> 
        <nav class="navbar">
            <a href="" id="inicio-link" class="nav-link">Inicio</a>
            <a href="/vender" id="VB-link" class="nav-link">Vender Beats</a>
            <a href="/beats" id="CB-link" class="nav-link">Comprar Beats</a>
            {{#user}}
                <a href="/usuarios/{{id}}" class="nav-link">{{name}}</a>
            {{/user}}
            {{^user}}
                <a href="/iniciasesion" id="sign-in-link" class="nav-link">Sign in</a>
                <a href="/registrate" id="signup-in-link" class="nav-link">Sign Up</a>
            {{/user}}
        </nav>         
    </div>
    {{#user}}
    <form action="/vender" method="post">
        <label for="beatName">Nombre del Beat:</label><br>
        <input type="text" id="beatName" name="beatName"><br>
        <label for="price">Precio:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="description">Descripción:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="mood">Mood:</label><br>
        <select id="mood" name="mood">
            <option value="feliz">Feliz</option>
            <option value="triste">Triste</option>
            <option value="enamorado">Enamorado</option>
            <option value="enfadao">Enfadao</option>
            <option value="energetico">Energetico</option>
        </select><br>
        <label for="genre">Género:</label><br>
        <select id="genre" name="genre">
            <option value="pop">POP</option>
            <option value="trap">TRAP</option>
            <option value="rap">RAP</option>
            <option value="hip_hop">HIP_HOP</option>
            <option value="rb">RB</option>
            <option value="reggaeton">REGGAETON</option>
            <option value="electronica">ELECTRONICA</option>
        </select><br>
        <label for="tags">Etiquetas (Separadas por un espacio):</label><br>
        <textarea id="tags" name="tags"></textarea><br>
        <input type="submit" value="Enviar">
    </form>
    {{/user}}
    {{^user}}
    <div>
        <p>Por favor, <a href="/iniciasesion">inicia sesión</a> o <a href="/registrate">regístrate</a> para vender beats.</p>
    </div>
    {{/user}}

</body>
</html>