<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usuarios.css">
    <script src="/js/nav_bar.js"></script>
    <script src="/js/toggle.js"></script>
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="head">   
        <div class="logo">
            <span class="brand-text">FroggyBeats</span>
            <a href="/"><img src="/img/andresita_la_ranita.png"></a>
        </div>
        <button class="menu-toggle"><img src="/img/menu.png" ></button> 
        <nav class="navbar">
            <a href="/" id="inicio-link" class="nav-link">Inicio</a>
            <a href="/vender" id="VB-link" class="nav-link">Vender Beats</a>
            <a href="/beats" id="CB-link" class="nav-link">Comprar Beats</a>
            {{#user}}
                <a href="/usuarios/{{id}}" class="nav-link">{{name}}</a>
            {{/user}}
            {{^user}}
                <a href="/iniciasesion" id="sign-in-link" class="nav-link">Sign in</a>
                <a href="/registrate" id="signup-in-link" class="nav-link">Sign Up</a>
            {{/user}}
        </nav>      
    </div>
    <h1>Perfil de Usuario</h1>
    <div>
        <h2>{{user.name}}</h2>
        <p>ID: {{user.id}}</p>
        <p>Email: {{user.email}}</p>
    </div>
    {{#isCurrentUser}}
    <form action="/usuarios/{{user.id}}/del" method="get">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Eliminar Usuario" />
    </form>
    <a href="/usuarios/{{user.id}}/editname" class="button">Cambiar Nombre de Usuario</a>
    <a href="/usuarios/{{user.id}}/licencias" class="button">Mis Licencias</a>
    <form action="/logout" method="post">
        <input type="submit" value="Logout" />
    </form>
    {{/isCurrentUser}}
</body>
</html>
